button {
    background-color:#ff0000;
    border:1px solid #ff0000;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:20px;
    text-decoration:none;
}
button:hover {
    background-color:#ffffff;
}
button:active {
    background-color:#ffffff;
    position:relative;
    top:1px;
}

       